.tunnel {
    min-width: 30px;
    max-width: 30px;
    height: 10px;
}

.container {
     margin-top: 10px
}

.tunnel-container{
    border: 3px solid red;
    box-sizing: content-box;
}

.btn {
    margin-top: 10px;
    margin-right: 10px;
}